<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.signin.mapper.ActivityTypeMapper">
    <select id="getActivityData" parameterType="java.lang.String" resultType="java.lang.String">
        select type_id from activityType where type_name = #{typeName}
    </select>
    <select id="checkByActivityType" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT COUNT(*) FROM activityType WHERE type_name = #{typeName}
    </select>


    <select id="selectTypeName" resultType="java.lang.String">
        select at.type_name
        from activityType at,
             Activity a
        where at.type_id = a.type_id
          and a.activity_name = #{activityName};
    </select>
</mapper>
