<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.signin.mapper.UserMapper">

    <select id="selectByDepartmentId" parameterType="com.example.signin.entity.User"
            resultType="com.example.signin.entity.User">
        SELECT *
        FROM User
        WHERE department_id = #{departmentId};
    </select>
    <select id="selectByDepartmentIdAndRoleId" resultType="com.example.signin.entity.User"
            parameterType="java.lang.Integer">
        SELECT *
        FROM User
        WHERE department_id = #{departmentId}
          AND NOT role_id = 2;
    </select>
    <select id="selectByIdAndRoleId" resultType="com.example.signin.entity.User"
            parameterType="java.lang.Long">
        SELECT *
        FROM User
        WHERE id = #{userId}
          AND NOT role_id = 2;
    </select>
    <select id="selectAlreadySignin" resultType="com.example.signin.entity.SigninUser"
    >
        SELECT *
        FROM SigninUser
        WHERE activity_name = #{activityName}
          and status = 1;
    </select>
    <select id="selectByNotSignin" resultType="com.example.signin.entity.SigninUser"
    >
        SELECT *
        FROM SigninUser
        WHERE activity_name = #{activityName}
          and status = 0;
    </select>
    <select id="selectAlreadyCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM SigninUser
        WHERE activity_name = #{activityName}
          and status = 1
    </select>

    <select id="selectIdByPermissionId" resultType="java.lang.String">
        SELECT DISTINCT u.id
        FROM Permissions p
                 LEFT JOIN Groups_Permissions gp ON p.id = gp.permission_id
                 LEFT JOIN PermissionGroups g ON gp.group_id = g.id
                 LEFT JOIN Roles_Groups rg ON g.id = rg.group_id
                 LEFT JOIN Roles r ON rg.role_id = r.id
                 LEFT JOIN User u ON r.id = u.role_id
        WHERE p.id = #{permissionId}
    </select>

    <select id="selectIdByGroupId" resultType="java.lang.String">
        SELECT DISTINCT u.id
        FROM Groups_Permissions gp
                 LEFT JOIN PermissionGroups g ON gp.group_id = g.id
                 LEFT JOIN Roles_Groups rg ON g.id = rg.group_id
                 LEFT JOIN Roles r ON rg.role_id = r.id
                 LEFT JOIN User u ON r.id = u.role_id
        WHERE gp.group_id = #{groupId}
    </select>
    <select id="selectDetailByDepartmentId" resultType="com.example.signin.entity.DepartmentDetail"
            parameterType="java.lang.Integer">
        SELECT id, username, role_id
        FROM User
        WHERE department_id = #{departmentId};
    </select>
    <select id="selectNeedSignin" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM SigninUser
        WHERE activity_name = #{activityName}
    </select>

    <select id="selectSigned" resultType="java.lang.Integer">
        select COUNT(*)
        from SigninUser
        where activity_name = #{activityName}
          and status = 1
    </select>
    <select id="selectState" resultType="java.lang.String">
        select status
        from SigninUser
        where user_name = #{userName}
          and id = #{id}
          and activity_name = #{activityName}
    </select>
    <select id="selectDepartmentId" resultType="java.lang.Integer">
        select department_id
        from SigninUser
        where user_name = #{userName}
          and id = #{id}
          and activity_name = #{activityName}
    </select>
    <select id="selectNotSigned" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM SigninUser
        WHERE activity_name = #{activityName}
          and status = 0
    </select>
    <select id="countByActivityName" resultType="com.example.signin.entity.ActivityList">
        SELECT SUM(CASE WHEN status = 0 THEN 1 ELSE 0 END) AS notSigned,
               SUM(CASE WHEN status = 1 THEN 1 ELSE 0 END) AS signed
        FROM SigninUser
        WHERE activity_name = #{activityName};
    </select>

</mapper>
